<div class="home-background">
    <div class="container mt-5">
        <div class="row mb-4  ">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row p-4 mb-4 ">
                <a routerLink="/phone">
                    <div class="col mb-2">
                        <div class="card h-100"  style="border-color: rgb(41, 41, 44);">
                            <div class="card-body text-center">
                                <i class="bi bi-phone text-secondary" style="font-size:100px;"></i>
                                <strong class="d-block text-secondary">الهواتف المحمولة</strong>
                            </div>
                        </div>
                    </div>
                </a>
                <a routerLink="/">
    
                <div class="col">
                    <div class="card h-100" style="border-color:rgb(41, 41, 44);">
                        <div class="card-body text-center">
                            <i class="bi bi-laptop text-secondary" style="font-size:100px;"></i>
                            <strong class="d-block text-secondary"> الكمبيوترات المحمولة</strong>
                        </div>
                    </div>
                </div>
                </a>
    
                <div class="col">
    
                </div>
    
                <div class="col">
    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
